[package]
name = "pravega-client-rust"
version = "0.1.0"
edition = "2018"
categories = ["Network programming"]
keywords = ["streaming", "client", "pravega"]
readme = "README.md"
repository = "https://github.com/pravega/pravega-client-rust"
license = "Apache-2.0"
description = "A Rust client for Pravega. (Pravega.io)"
authors = ["Tom Kaitchuck <Tom.Kaitchuck@dell.com>", "Wenqi Mou <wenqi.mou@dell.com>",
           "Sandeep Shridhar <sandeep.shridhar@dell.com>", "Wenxiao Zhang <wenxiao.zhang@dell.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
    "controller-client", "shared", "wire_protocol", "retry", "integration_test", "connection_pool", "channel", "bindings"
]

[dependencies]
pravega-rust-client-shared = { path = "./shared"}
pravega-controller-client = { path = "./controller-client"}
pravega-wire-protocol = { path = "./wire_protocol"}
pravega-rust-client-retry = {path = "./retry"}
pravega-connection-pool = {path = "./connection_pool"}
pravega-rust-client-channel = {path = "./channel"}
async-trait = "0.1.29"
futures = "0.3.5"
snafu = "0.6.2"
tokio = { version = "0.2.16", features = ["full"] }
tracing = "0.1"
rand = "0.7.3"
uuid = {version = "0.8", features = ["v4"]}
serde = { version = "1.0", features = ["derive"] }
log = "0.4.8"
fern = "0.5"
chrono = "0.4"
lazy_static = "1.4.0"
clap = {version = "2.33.0", optional = true}
structopt = {version = "0.3", optional = true}
derive-new = "0.5"
bincode2 = "2.0.1"
futures-intrusive = "0.3.0"
async-stream = "0.2.1"
serde_cbor = "0.11.1"

[dev-dependencies]
pravega-rust-client-integration-test = { path = "./integration_test"}
mockall = "0.7.0"
ordered-float = { version= "1.0.2", features = ["serde"]}
criterion = "0.3"
byteorder = "1.3"

[[bin]]
name = "server-cli"
path = "src/cli.rs"
#Work around for issue  https://github.com/rust-lang/cargo/issues/1982
required-features = ["cli"]

[features]
default = ["cli"]
cli = ["clap", "structopt"]

[[bench]]
name = "benchmark"
harness = false

