on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: nodejstest

jobs:
  test_jest:
    name: run-jest
    runs-on: ubuntu-20.04
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "11" # The JDK version to make available on the path.
      - name: Download and Run Pravega standalone
        run: |
          wget https://github.com/pravega/pravega/releases/download/v0.10.1/pravega-0.10.1.tgz
          tar -xzvf pravega-0.10.1.tgz
          pravega-0.10.1/bin/pravega-standalone > pravega.log 2>&1 &
          sleep 20 && echo "Started standalone"
      - name: Set up Nodejs
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Install modules
        working-directory: ./nodejs
        run: npm i
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install pravega
        run: pip install pravega
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Test
        working-directory: ./nodejs
        run: |
          node --loader ts-node/esm tests/stream_manager.ts
          python3 tests/write.py
          node --loader ts-node/esm tests/stream_reader.ts
      - name: Upload Pravega standalone logs
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: pravega-standalone-log
          path: pravega.log
          retention-days: 5
